* {
  box-sizing: border-box;    
  
}

body{
  
  background-color: #6935FD;
  border-radius: 0;
  font-family: 'Girassol', cursive;
  padding:30px;
  
}

body{
  border-radius: 0px;
  background: linear-gradient(121.63deg, #875EFF 2.17%, rgba(83, 29, 238, 0.651031) 59.11%, rgba(94, 38, 253, 0.42) 96.81%);
}
.Herobg {
 display: flex;
 flex-direction: column;
 margin: auto;
 height: 1024px;
 width: 1440px;
 border-radius: 10px; 
}
.Herobg {
background: linear-gradient(180deg, #FFFFFF 30%, #f8f8f8ea 100%);
}



.LogoHousenPosition{
 height: 52px;
 width: 173px;
 border-radius: 0px;
}
.LogoHousen{
  font-family: 'Gorditas', cursive;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  color: #6935FD;
  font-size: 46px;
  z-index: 998;

}

.TopNav{
   display: flex;
   height: 68px;
   width: 1440px;
   padding: 15px 0 0 135px;
 }


.NavigationLinks{
  display: flex;
  margin: 9px 0 0 160px;
  height: 26px;
  width: 480px;
  border-radius: nullpx;
  z-index: 997
}
.NavigationLinks li{
  display: inline;
  list-style: normal;
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #272727;
  padding: 13px;
  cursor: pointer;


}
.NavigationLinks li:not(:last-of-type){
margin-right: 30px;
}

.btn{
  display: block;
  padding: 12px 0 0 165px;
  height: 48px;
  width:  164px;
  border-radius: 2px;
}

.Signup{
 font-family: Gordita;
 font-size: 18px;
 font-style: normal;
 font-weight: 400;
 line-height: 26px;
 letter-spacing: 0em;
 width: 164px;
 height: 47px;
 text-align: center;
 padding-top:7px;
 cursor: pointer;
}

 .Signup{
   color: #6935FD;
 }

 .Signup{
   border: 2px solid #6935FD;
   box-sizing: border-box;
   border-radius: 2px;

 }

 .Heading{
   display: flex;
   height: 70px;
   width: 636px;
   margin: 135px 0 0 435px; 
   border-radius: 0;
   z-index: 998;
 }
 .Heading{  
   font-family: 'Cabin', sans-serif;
   font-size: 70px;
   font-style: normal;
   font-weight: 400;
   line-height: 70px;
   letter-spacing: -0.04em;
   text-align: center;
 }
.Heading{
  color: #272727;
}

.Subheding{
  display: flex;
  height: 76px;
  width: 570px;
  margin: 25px 0 45px 435px;
  z-index: 998;
}
.Subheding{
  font-family: 'Zilla Slab', serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  color: #616161;
  

}
.Searchbar{
  display: flex;
  height: 70px;
  width: 700px;
  border-radius: 4px;
  box-shadow: 0px 2px 24px 0px #0000000A;
  margin: 0 0 0 370px;
}
.icon{
  height: 16px;
  width: 16px;
  border-radius: 0px;
  padding: 22px 25px 25px 25px;
}


.icon{
    content: "f002";
    color: #A8A8A8;
}

.divider{
width: 1px;
height: 42px;
padding: 13px 0 0 0;
}
.divider{
  background: #F7F7F7;
  border-radius: 1px;
}



.Searchbar input{
  height: 68px;
  width: 389px;
  margin: 0 0 0 25px;
  background:  #f1f0f002;
  border: 0;
  z-index: 999;
  
}
.Searchbar input{
  /* Body / Guiding */
font-family: Gordita;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */
letter-spacing: -0.02em;
font-feature-settings: 'ss01' on;
color: #A8A8A8;



}

.Searchbar button{ 
  height: 46px;
  width: 175px;
  margin: 10.5px 0 0 49px;
  border-radius: 2px;
  border: 0px;
  z-index: 998 ;
  
}
.Searchbar button{
  background: #6935FD;
  color: white;
  font-family: Gordita;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  font-feature-settings: 'ss01' on;
  cursor: pointer;
}

.countries{
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 250px;
  margin: 40px 0 0 370px;
}
.PrevSearch{
  display: flex;
  background: #FFFFFF;
  border-radius: 4px;
}
.PrevSearch{
  display: flex;
  height: 70px;
  width: 700px;
}
.PrevSearch p{
  height: 26px;
  width: 360px;
  border-radius: 0;
  margin:20px 0 0 26px;
}
.PrevSearch p{
  /*styleName: Body / Regular;*/
font-family: Gordita;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
}
.FilterApplied p{
  display: flex;
  height: 29px;
  width: 216px;
  border-radius: 0;
}
.FilterApplied p{
  /*styleName: Meta;*/
  font-family: Gordita;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-align: right;
  color: #616161;
  ;
}
.countries .PrevSearch:not(:first-of-type){
 margin-top: 20px;
}

.Right16px p{
  display: flex;
  height: 9.999999046325684px;
  width: 5px;
  border-radius: 0px;
}
.Right16px{
  color: #A8A8A8;
  border: 1,5px solid #A8A8A8;
}

.Footer {
  display: flex;
  height: 50px;
  width: 1440px;
  border-radius: 0px;
  margin: 198px 0 0 0;
}
.Footer{
  box-shadow: 0px 2px 24px 0px #0000000A;
}

.Footer div:not(:first-of-type,:last-of-type){
  margin-right: 20px;
}
.Footer div:not(:first-of-type){
  margin-top: 18px;
}

.FTlogo{
  height: 14px;
  width: 103px;
  border-radius: 0;
}


.FTlogo{
  /*styleName: Caption, Small text;*/
  font-family: Gordita;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-align: left;
  margin: 13px 0 0 110px;
  color: #A8A8A8;
}
 
.About{
  height: 14px;
  width: 41px;
  border-radius: 0;
}
.About{
  /*styleName: Caption, Small text*/
  font-family: Gordita;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-align: right;
  color: #A8A8A8;
}
.About{
  margin-left: 716px;
}

.FAQ{
  height: 14px;
  width: 28px;
  border-radius: 0;
  
}
.FAQ{
  /*styleName: Caption, Small text;*/
  font-family: Gordita;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-align: right;
  color: #A8A8A8;
}

.Terms{
  height: 14px;
  width: 123px;
  border-radius: 0;
  
}
.Terms{
  /*styleName: Caption, Small text;*/
  font-family: Gordita;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-align: right;
  color: #A8A8A8;
}
.Policy{
  height: 14px;
  width: 88px;
  border-radius: 0;
  
}
.Policy{
  /*styleName: Caption, Small text;*/
  font-family: Gordita;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-align: right;
  color: #A8A8A8;
}






